<ion-view title="首页" hide-nav-bar="true" hide-back-button="true" id="page2">
  <ion-content padding="true" style="background: url(img/tXUGC6Q5QlSTLFhP6IOJ_bg.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <button id="page2-button11" class="button button-positive  button-block icon-left ion-ios-barcode-outline">漂流扫码</button>
    <div class="list card" id="page2-card24">
      <div class=" item item-image">
        <img src="img/santi.jpg" width="100%" height="200px" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-divider" id="page2-list-item-divider4"> 必读书目</ion-item>
      <ion-list id="page2-list8">
        <ion-item id="page2-list-item25" ui-sref="tabsController.page6">图书1</ion-item>
        <ion-item id="page2-list-item27">图书2</ion-item>
        <ion-item id="page2-list-item26">图书3</ion-item>
        <ion-item class="item-divider" id="page2-list-item-divider3"> 读书心得奖</ion-item>
        <ion-item id="page2-list-item22" ui-sref="tabsController.page12">一等奖：xxxx</ion-item>
        <ion-item id="page2-list-item23">二等奖：xxxx</ion-item>
        <ion-item id="page2-list-item24">三等奖：xxxx</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>