<ion-view title="文章列表" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="page11-list9" class="manual-list-fullwidth">
      <ion-item class="item-icon-left" id="page11-list-item10" ui-sref="tabsController.page12(aricle_id ='1')">
        <i class="icon ion-ionic"></i>文章</ion-item>
      <ion-item class="item-icon-left" id="page11-list-item20">
        <i class="icon ion-ionic"></i>Item</ion-item>
      <ion-item class="item-icon-left" id="page11-list-item21">
        <i class="icon ion-ionic"></i>Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>