<ion-view title="借书" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="page9-form7" class="list">
      <ion-item class="item-thumbnail-left" id="page9-list-item19">
        <h2>Item</h2>
        <p>主人 持有者 有效期</p>
      </ion-item>
      <label class="item item-select" id="page9-select2">
        <span class="input-label">交付方式</span>
        <select>
          <option>自取</option>
          <option>管理员转交</option>
        </select>
      </label>
    </form>
    <button id="page9-button12" class="button button-positive  button-block">申请借阅</button>
  </ion-content>
</ion-view>