<ion-view title="图书信息" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="page6-list5">
      <ion-item class="item-thumbnail-left" id="page6-list-item9">
        <h2>{{item_id}}图书名称</h2>
        <p>图书主人信息 有效期</p>
      </ion-item>
    </ion-list>
    <div class="item item-body" id="page6-list-item-container4">
      <div id="page6-markdown8">
        <p style="margin-top:0px;color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
    <ion-list id="page6-list10">
      <ion-item class="item-divider" id="page6-list-item-divider6"> 读书心得</ion-item>
      <ion-list id="page6-list11">
        <ion-item id="page6-list-item11">Item 1</ion-item>
        <ion-item id="page6-list-item12">Item 2</ion-item>
        <ion-item id="page6-list-item13">Item 3</ion-item>
      </ion-list>
      <ion-item class="item-divider" id="page6-list-item-divider2"> 漂流记录</ion-item>
    </ion-list>
    <div class="item item-body" id="page6-list-item-container8">
      <div id="page6-markdown7">
        <p style="margin-top:0px;color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
    <button id="page6-button16" class="button button-positive  button-block button-clear">分享心得</button>
    <button id="page6-button8" class="button button-positive  button-block">申请借书</button>
  </ion-content>
</ion-view>