<ion-view title="个人信息" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="page5-form2" class="list">
      <ion-list id="page5-list3">
        <label class="item item-input" id="page5-input1">
          <span class="input-label">名字</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page5-input4">
          <span class="input-label">班级</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page5-input6">
          <span class="input-label">邮箱</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page5-input5">
          <span class="input-label">联系方式</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="page5-button1" class="button button-positive  button-block">确定</button>
    </form>
  </ion-content>
</ion-view>