<ion-view title="我的漂流岛" hide-nav-bar="true" id="page4">
  <ion-content padding="true" style="background: url(img/S7KtLMouQiSzwKuFIu7e_bg.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <a ui-sref="tabsController.page10" id="page4-button13" class="button button-stable button-small button-block icon-left ion-android-notifications">新的借阅申请</a>
    <div class="list card" id="page4-card21">
      <ion-item class="item-avatar positive" id="page4-list-item3" ui-sref="tabsController.page5">
        <h2positive>Item
          <p>班级 联系方式</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-icon-left" id="page4-list-item18">
        <i class="icon ion-android-star"></i>已经获得 16 颗星</ion-item>
      <ion-item class="item-icon-left" id="page4-list-item7" ui-sref="tabsController.page8">
        <i class="icon ion-ios-book"></i>岛内有 3 本书</ion-item>
      <ion-item class="item-icon-left" id="page4-list-item8" ui-sref="tabsController.page11">
        <i class="icon ion-ios-bookmarks"></i>发布了 5 篇读书心得</ion-item>
    </div>
    <a ui-sref="tabsController.page7" id="page4-button10" class="button button-positive  button-block icon-left ion-android-add-circle">发布图书</a>
  </ion-content>
</ion-view>